<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>


    <p>Team Name : <%= @name = "Brooklyn Nets" %></p>
    <p>Coach : <%= @coach = "Louis Armstrong" %></p>
    <p>Point Guard : <%= @pg = "Ella Fitzgerald"  %></p>
    <p>Power Forward : <%= @pf = "Miles Davis" %></p>
    <p>Shooting Guard : <%= @sg = "Dave Brubeck" %></p>
    <p>Small Forward : <%= @sf= "John Coltrane" %></p>
    <p>Center: <%= @c = "Sonny rollins" %></p>


 </body>
</html>
